
/**************************************
Imports
**************************************/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

/*************************************
Page Styles
**************************************/

* {
	box-sizing: border-box;
}

h1 {
	font-family: 'Garamond';
	font-size: 2em;
	letter-spacing:2px;
}

header {
	padding:20px;
	background-color:#0D9EA6;
	color:white;
	margin: 0 20px;
	border-bottom: 4px solid #FFBF75;
}

header p {
	font-family: 'Open Sans';
	font-size:.8em;
}

/************************************
Gallery Styles
*************************************/

#gallery {
	list-style: none;
	padding:20px;
	background-color:#BDBDBD;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items:center;
	align-content:center;
	margin:0 20px 20px 20px;
	
}

li {
	padding:10px;
	background-color:white;
	border-radius:5%;
	margin:5px;
	max-width:220px;
	transition: .7s;
}

li img {
	margin: 0 auto;
	flex: 2 2 20em;
	width:200px;
	border-radius: 10%;
}

li p {
	margin: 3px;
	font-family:'Garamond';
	font-size: .75em;
	text-align: center;
}


li:hover{
	transform: scale(1.5);
}



