
/**************************************
Imports
**************************************/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

/*************************************
Page Styles
**************************************/

* {
	box-sizing: border-box;
}

h1 {
	font-family: 'Garamond';
	font-size: 2em;
	letter-spacing:2px;
}

header {
	padding:20px;
	background-color:white;
	color: #262625;
	margin: 0 20px;
}

header p {
	padding-top:5px;
	padding-bottom:5px;
	font-family: 'Open Sans';
	font-size:.8em;
	border-top: 1px solid #7D7D7A;
	border-bottom: 1px solid #7D7D7A;
}

/************************************
Gallery Styles
*************************************/

#gallery {
	list-style: none;
	padding:20px;
	/*background-color:#262625;*/
	background-color:white;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items:center;
	align-content:center;
	margin:0 20px 20px 20px;
	
}

li {
	padding:10px;
	background-color:white;
	/*border-radius:5%;*/
	margin:2px;
	max-width:220px;
	transition: .2s;
	/*border: 2px solid #7D7D7A;*/
}

li img {
	margin: 0 auto;
	flex: 2 2 20em;
	width:200px;
	/*border-radius: 10%;*/
}

li p {
	margin: 3px;
	font-family:'Garamond';
	font-size: .75em;
	text-align: center;
}


li:hover{
	transform: scale(1.75);
}



